.Question{
    border: solid 1px black;
    margin: 5%;
}

.question-statement{
    background-color: #44c7f5;
    border: solid 1px black;
}

.options{
    display: flex;
    flex-direction:column;
    border: solid 1px black;
}